{% extends 'layouts/base.html' %}

{% block content %}
<h1>Gestión de Usuarios</h1>
<a class="btn btn-color fw-bold mb-3" href="{% url 'usuario_crear' %}" role="button">Crear</a>
<table class="tb">
  <thead class="encabezado-tabla fw-bold">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Username</th>
      <th scope="col">Rol</th>
      <th scope="col">Es Admin</th>
      <th colspan="2">Opciones</th>
    </tr>
  </thead>
  <tbody class="bg-secondary-subtle">
    {% for usuario in usuarios %}
    <tr>
      <td>{{ usuario.id }}</td>
      <td>{{ usuario.username }}</td>
      <td>{{ usuario.rol.nombre_rol }}</td>
      <td>{{ usuario.is_rol_admin }}</td>
      <td><a class="btn btn-color btn-m fw-bold" href="{% url 'usuario_modificar' usuario.id %}" role="button">
        <i class="bi bi-pencil-square"></i>
        Modificar
      </a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}