{% extends 'layouts/base.html' %}

{% block content %}
<h1>Mantenimiento de Productos</h1>
<a class="btn btn-color fw-bold mb-3" href="{% url 'producto_crear' %}" role="button">Crear</a>
<table class="tb">
  <thead class="encabezado-tabla fw-bold">
    <tr>
      <td scope="col">Id</td>
      <td scope="col">Nombre</td>
      <td scope="col">Descripción</td> 
      <td scope="col">Precio (s/.)</td> 
      <th colspan="2">Opciones</th>
    </tr>
  </thead>
  <tbody class="bg-secondary-subtle">
    {% for producto in productos %}
    <tr>
        <td>{{ producto.id_producto }}</td>
        <td>{{ producto.nombre_producto }}</td>
        <td>{{ producto.descripcion }}</td>
        <td>{{ producto.precio_producto }}</td>
        <td><a class="btn btn-color btn-m fw-bold" href="{% url 'producto_modificar' producto.id_producto %}" role="button">
          <i class="bi bi-pencil-square"></i>
          Modificar
        </a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
