{% extends 'layouts/base.html' %}

{% block content %}
<h1>Mantenimiento de Ingredientes</h1>
<a class="btn btn-color fw-bold mb-3" role="button" href="{% url 'ingrediente_crear' %}">Crear</a>
<a class="btn btn-color fw-bold" href="{% url 'precio_ingrediente_listar' %}" role="button">Precios de Ingredientes</a>
<table class="tb">
  <thead class="encabezado-tabla fw-bold">
    <tr>
      <td scope="col">Id</td>
      <td scope="col">Nombre</td>
      <td scope="col">Cantidad</td>
      <td scope="col">Unidad</td>
      <td scope="col">Estado</td>
      <th colspan="2">Opciones</th>
    </tr>
  </thead>
  <tbody class="bg-secondary-subtle">
    {% for ingrediente in ingredientes %}
    <tr>
        <td>{{ ingrediente.id_ingrediente }}</td>
        <td>{{ ingrediente.nombre_ingrediente }}</td>
        <td>{{ ingrediente.cantidad }}</td>
        <td>{{ ingrediente.unidad }}</td>
        <td>{{ ingrediente.estado_ingrediente }}</td>
        <td><a class="btn btn-color btn-m fw-bold" role="button" href="{% url 'ingrediente_modificar' ingrediente.id_ingrediente %}">
          <i class="bi bi-pencil-square"></i>
          Modificar
        </a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}