.tb {
  width: 900px;
  text-align: center;
}
.encabezado-tabla {
  background-color: #f5ad25;
  height: 3em;
}
.btn-color {
  background-color: #df4a10;
  color: #242424;
}
.btn-color:hover {
  background-color: #d9534f;
}
.bienvenida {
  height: 600px;
  display: flex;
  flex-direction: column;
  color: #df4a10;
  font-family: "Inconsolata", monospace;
}
.bienvenida h3{
  font-weight: bold;
  padding-left: 2em ;
  height: 30%;
  display: flex;  
  font-size: 40px;
  color: #242424;
  align-items: center;
}
.bienvenida h1{
  float: left;
  position: relative;
  width: 480px;
  font-size: 70px;
  font-weight: bold;
  text-align: center;
  margin-left: 30%;
  padding-top:80px;
  text-transform: uppercase;
}
h1 span{
  position: absolute;
  right: 0;
  width: 0;
  background: #f8eed4;
  border-left: 1px solid #df4a10 ;
  animation: maquina 5s infinite alternate;;
}
@keyframes maquina {
  from {
    width: 100%;
  }
  to{
    width: 0px;
  }
}
