{% extends 'layouts/base.html' %}

{% block content %}
<h1>Modificar Receta</h1>
<div class="card p-4">
  <form method="post">
    <div class="head-product border rounded p-4">
      {% csrf_token %}
      {{ receta_form.as_p }}
    </div>
    <br/><br/>
    <div id="ingrediente-formset" class="d-flex flex-wrap gap-5 justify-content-between">
      {{ ingrediente_formset.management_form }}
      {% for form in ingrediente_formset %}
        <div class="ingrediente-form">
          {{ form.as_p }}
          {% if ingrediente_formset.can_delete %}
            <button type="button" class="delete-ingredient btn btn-danger mb-2">Eliminar</button>
          {% endif %}
        </div>
      {% endfor %}
      <!-- Template for empty form -->
      <div id="empty-form-template" style="display: none;">
        <div class="ingrediente-form">
          {{ ingrediente_formset.empty_form.as_p|safe }}
          {% if ingrediente_formset.can_delete %}
            <button type="button" class="delete-ingredient btn btn-danger mb-2">Eliminar</button>
          {% endif %}
        </div>
      </div>
    </div>
    <button type="button" id="add-ingredient" class="btn btn-warning">Añadir Ingrediente</button>
    <button type="submit" class="btn btn-color">Guardar</button>
    <a href="{% url 'recetas' %}" class="btn btn-dark">Cancelar</a>
  </form>
</div>

<script>
 document.addEventListener("DOMContentLoaded", function() {
    var formCount = parseInt("{{ ingrediente_formset.total_form_count }}");
    var container = document.getElementById("ingrediente-formset");
    var addButton = document.getElementById("add-ingredient");
    var formPrefix = "{{ ingrediente_formset.prefix }}";

    function addForm() {
        var template = document.getElementById("empty-form-template").innerHTML;
        var newForm = template.replace(/__prefix__/g, formCount);
        container.insertAdjacentHTML('beforeend', newForm);
        formCount++;
        document.getElementById("id_ingrediente-TOTAL_FORMS").value = formCount;
    }

    addButton.onclick = function() {
        addForm();
    };

    container.addEventListener("click", function(e) {
        if (e.target.classList.contains("delete-ingredient")) {
            e.preventDefault();
            e.target.closest(".ingrediente-form").remove();
            formCount--;
            document.getElementById("id_ingrediente-TOTAL_FORMS").value = formCount;
        }
    });
});
</script>
{% endblock %}
