{% extends 'layouts/base.html' %}

{% block content %}
<h1>Mantenimiento de Margenes de ganancia</h1>

<form method="post">
  {% csrf_token %}
  <label for="margen_ganancia">Margen de ganancia deseado:</label>
  <input type="text" id="margen_ganancia" name="margen_ganancia" value="{{ margen_ganancia }}">
  <button type="submit">Calcular</button>
</form>

<table class="tb">
  <thead class="encabezado-tabla fw-bold">
        <tr>
            <td scope="col">Id</td>
            <td scope="col">Nombre</td>
            <td scope="col">Costos (S/.)</td>  
            <th colspan="2">Precios (S/.)</th>
         </tr>
  </thead>
  <tbody class="bg-secondary-subtle">
    {% for ganancia in productos_con_costos %}  
    <tr>
        <td>{{ ganancia.id }}</td>
        <td>{{ ganancia.nombre }}</td>
        <td>{{ ganancia.costo }}</td>        
        <td>{{ ganancia.precio_con_ganancia }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}