{% extends 'base.html' %}

{% block content %}
<h1>Gestión de rol</h1>
<a class="btn btn-color fw-bold mb-3" href="#" role="button">Crear</a>
<table class="tb">
  <thead class="encabezado-tabla fw-bold">
    <tr>
      <td scope="col ">Id</td>
      <td scope="col">Rol</td>
      <td scope="col">Descripción</td>
      <td scope="col">Estado</td>
      <th colspan="2">Opciones</th>
    </tr>
  </thead>
  <tbody class="bg-secondary-subtle">
    <tr>
        <td>Id rol</td>
        <td>Nombre rol</td>
        <td>Descripción rol</td>
        <td>Estado Rol</td>
        <td><a class="btn  btn-color btn-m fw-bold" href="#" role="button">
          <i class="bi bi-pencil-square"></i>
          Modificar
        </a></td>
    </tr>
  </tbody>
</table>

{% endblock %}